.container{
    border: 1px solid #000;
    background-color: #00000095;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
}

.linkButton{
    /*border: 1px solid white; */
    border-radius: 50px;
    background-color: #fff;
    margin: 20px;
    text-align: center;
    padding: 8px;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.linkButton:hover {
    background-color: rgb(44, 44, 255);
    color:#fff;
}
